<mat-toolbar class="navbar-main" color="primary">
  <div class="left-part">
    <button class="icon-border" mat-icon-button (click)="snav.toggle()">
      <mat-icon class="iconsColor">menu</mat-icon>
    </button>
    <img
      class="imgClasOnly"
      src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
      alt=""
    />
    <div class="app-name-title">Fundoo</div>
    <div class="emptyspace"></div>
  </div>
  <div class="center-part">
    <mat-icon class="mat-search-icon">search</mat-icon>
    <input class="search-nav-field" placeholder="Search" type="text" />
  </div>

  <div class="right-part">
    <div class="emptyBox1"></div>

    <div class="icons-contain">
      <!-- <fa-icon [icon]="iconfarefresh"></fa-icon> -->
      <mat-icon matTooltip="Refresh" class="icon-border">
        <img class="iconDsboarclas" src="../../../assets/refresh_FILL0_wght400_GRAD0_opsz40.svg" alt="">      
      </mat-icon>
      <mat-icon matTooltip="List view" class="icon-border" >
        <img class="iconDsboarclas" src="../../../assets/view_agenda_FILL0_wght400_GRAD0_opsz40.svg" alt="">
        </mat-icon
      >
      <!-- <fa-icon [icon]="iconsGear"></fa-icon> -->

      <mat-icon matTooltip="Setting" class="icon-border">

        <img class="iconDsboarclas" src="../../../assets/settings_FILL0_wght400_GRAD0_opsz40.svg" alt="">
      </mat-icon>
    </div>
    <div class="emptyBox2"></div>
    <div class="profile-contain">
      <mat-icon matTooltip="google apps" class="icon-border">apps</mat-icon>
      <img
        matTooltip="Googel Account"
        class="gb_k_gb icon-border"
        src="https://lh3.googleusercontent.com/a/AAcHTtfkQZrWtqE4GTI4J_eYJcl9qy7vOzvAtPAaQ5K1BuyVmLI=s83-c-mo"
      />
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container
  class="mtsidnvContr"
  [style.marginTop.px]="mobileQuery.matches ? 10 : 10"
>
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    style="border-right: none"
    class="sidenvonlymat"
  >
    <mat-list-item class="itemlist">
      <div class="drawerliscontainer" routerLink="notes">
        <img
          src="../../../assets/lightbulb_FILL0_wght400_GRAD0_opsz48.svg"
          class="nav-icon"
          alt=""
        />
        <span class="nav-text">Notes</span>
        <div class="emptyDiv"></div>
      </div>
    </mat-list-item>

    <mat-list-item class="itemlist">
      <div class="drawerliscontainer">
        <img
          src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg"
          class="nav-icon"
          alt=""
        />  
        <span class="nav-text">Reminders</span>
        <div class="emptyDiv"></div>
      </div>
    </mat-list-item>
    <mat-list-item class="itemlist">
      <div class="drawerliscontainer">
        <img
          src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg"
          class="nav-icon"
          alt=""
        />
        <span class="nav-text">Edit labels</span>
        <div class="emptyDiv"></div>
      </div>
    </mat-list-item>
    <mat-list-item class="itemlist">
      <div class="drawerliscontainer" routerLink="archive">
        <img
          src="../../../assets/archive_FILL0_wght400_GRAD0_opsz40.svg"
          class="nav-icon"
          alt=""
        />
        <span class="nav-text">Archive</span>
        <div class="emptyDiv"></div>
      </div>
    </mat-list-item>
    <mat-list-item class="itemlist">
      <div class="drawerliscontainer" routerLink="trashComp">
        <img
          src="../../../assets/delete_FILL0_wght400_GRAD0_opsz40.svg"
          class="nav-icon"
          alt=""
        />
        <span class="nav-text">Bin</span>
        <div class="emptyDiv"></div>
      </div>
    </mat-list-item>
  </mat-sidenav>

  <mat-sidenav-content >
    <div >
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- //test changesg -->