<div class="maincontainer">
    <mat-card class="matcarddumy" *ngFor="let note of datanotearr" [ngStyle]="{'background-color': note.color }" >
        <mat-card-content class="matcardinside2">
            <div class="titlendDescriptionholdr" (click)="openDialog(note)">
            <mat-card-title class="firsttitleBox">
                {{note.title}}
            </mat-card-title>

            <mat-card-title class="takenottextBox">
                {{note.description}}
            </mat-card-title>
        </div>
            <app-icon-comp [noteData]='note.id' ></app-icon-comp>
        </mat-card-content>
    </mat-card>
</div>