<div class="formclssonly" >
    <mat-card class="noteinput2Box" >
      <mat-card-content class="matcardinside2">
        <div class="firsttitleBox">
          <input
            matInput
            type="text"
            class="inputtitle txttitlespan"
            [(ngModel)]="title"
          />
          <img
            class="pushpinclsicon"
            src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz40.svg"
            alt=""
          />
        </div>
        <div class="takenottextBox">
          <input
            matInput
            type="text"
            class="inputtitle txttitlespan"
            [(ngModel)]="description"
          />
        </div>
        <div class="iconLastBox">
          <div class="iconsBoxonlyHldr">
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/add_alert_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/person_add_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/palette_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/add_photo_alternate_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/archive_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/more_vert_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/undo_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
            <mat-icon class="sizeicon">
              <img
                class="pushpinclsicon"
                src="../../../assets/redo_FILL0_wght300_GRAD0_opsz24.svg"
                alt=""
              />
            </mat-icon>
          </div>
  
          <div class="closBtnBox">
            <span class="btnTxtclas" (click)="updateNote()"> Close</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
</div>
  