.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    align-items: center;

}

.componentWrapper {
    height: 95%;
    // max-height: 95%;
    // min-height: 85%;
    width: 470px;
    // border: 1px solid blue;
    box-shadow: 0px 0px 2px grey;
    padding: 10px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

.googlehedingall {
    height: 160px;
    width: 90%;
    // border: 1px solid burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.imgGoglOnly {
    height: 55px;
    width: 100px;
    // border: 1px solid black;
    // margin-bottom: 5px;
}

.signIntxt {
    width: 100%;
    text-align: center;
}

.ptagText {
    font-size: 25px;
    font-weight: 400;
    // margin-bottom: 5px;
    margin-top: px;
}

.UscontTxt {
    font-size: 17px;
    margin-top: 5px;

}

.inputClsBox {
    height: 100px;
    width: 90%;
    // border: 1px solid rgb(19, 14, 7);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    justify-content: flex-start;
}
.inputSizebox{
    width: 100%;

}
.forgtTxtbx{
    width: 100%;
    font-weight: 500;
    color:  #1a73e8ed;
    
}
.inputpassClsBox{
    height: 100px;
    width: 90%;
    // border: 1px solid rgb(19, 14, 7);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}
.lernMoreBox{
    height: 45px;
    width: 90%;
    // border: 1px solid rgb(19, 14, 7);  
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    color: #5f6368;

}
.txtlrnSpan{
    font-weight: 500;
    color:  #1a73e8ed;

}
.createBtnBox{
    height: 100px;
    width: 90%;
    // border: 1px solid rgb(19, 14, 7);  
    // margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #1a73e8ed;
    --mdc-protected-button-label-text-color: #fff;
}

.mat-mdc-button.mat-primary {
    --mdc-text-button-label-text-color: #1a73e8ed;
    position: relative;
    right: 6px;
}


@media only screen and (max-width: 550px) {

.componentWrapper{
    height: 100%;
    // padding: 0;
}
.createBtnBox{
    margin-top: 30px;
}
}