 
  .iconsBoxonlyHldr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid blue;
    font-size: 10px;
  }
  .sizeicon {
    object-fit: contain;
    height: 17px;
    width: 17px;
  }
  .menuBoxsize{
    width: 200px;
    height: 100%;
    // border: 2px solid blue;
  }
  .ClormenuBoxsize{
    width: 500px !important;
    // height: 80px;
    // border: 2px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: row !important;
    // flex-wrap: wrap;
    justify-content: space-between;

  }
  .colrHolderBox{
    height: 30px;
    width: 30px;
    // border: 2px solid blue;
    border-radius: 100%;
  }
  .mat-mdc-menu-panel.mat-mdc-menu-panel{
    max-width: none !important;
  }