<div class="iconLastBox">
    <div class="iconsBoxonlyHldr">
        <mat-icon >
        <img class="sizeicon" src="../../../assets/smalIcons/add_alert_FILL0_wght300_GRAD0_opsz24.svg" alt="">    
        </mat-icon>
        <mat-icon >
        <img class="sizeicon" src="../../../assets/smalIcons/person_add_FILL0_wght400_GRAD0_opsz20.svg" alt="">    

        </mat-icon>
        <mat-icon >
        <img class="sizeicon" src="../../../assets/smalIcons/palette_FILL0_wght400_GRAD0_opsz20 (1).svg" alt="">    

        </mat-icon>
        <mat-icon >
        <img class="sizeicon" src="../../../assets/smalIcons/photo_FILL0_wght400_GRAD0_opsz20.svg" alt="">    

        </mat-icon>
        <mat-icon >
        <img class="sizeicon" src="../../../assets/smalIcons/archive_FILL0_wght400_GRAD0_opsz20.svg" alt="">    

        </mat-icon>
        <mat-icon  [matMenuTriggerFor]="menu"> more_vert
        <img  class="sizeicon" src="../../../assets/smalIcons/more_vert_FILL0_wght400_GRAD0_opsz20.svg" alt="">    

        </mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
    </div>
</div>